@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

.logo-container{
    background-color: var(--Light-grayish-cyan);
    padding: 40px;
    text-align: center;
}

.tip-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.container{
    padding: 15px 25px;
}

h2{
    font-size: 1.1rem;
    color: var(--Dark-grayish-cyan);
}

.tip-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.set-tip{
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    background-color: var(--Very-dark-cyan);
    color: white;
    font-weight: 700;
}

#custom-tip{
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 5px;
    text-align: end;
}

#custom-tip::placeholder{
    color: var(--Very-dark-cyan);
}

#bill,
#numOfPeople {
    text-align: end;
    width: 93%;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

#bill{
    background: url('./images/icon-dollar.svg') no-repeat;
    background-color: var(--Very-light-grayish-cyan);
}

#numOfPeople {
    background: url('./images/icon-person.svg') no-repeat;
    background-color: var(--Very-light-grayish-cyan);
}

.results{
    background-color: var(--Very-dark-cyan);
    display: grid;
    padding: 20px;
    border-radius: 8px;
    margin-top: 2em;
}

.tip_amount_result,
.people_results{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resetBtn{
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: var(--Strong-cyan);
}

.tipPerPerson,
.totalAmountOutput {
    font-size: 2rem;
    color: var(--Strong-cyan);
}

.tipPerPerson::before,
.totalAmountOutput::before{
    content: "$";
}

.result-header{
    color: var(--White);
}

#resetBtn:hover{
    background-color: var(--Light-grayish-cyan);
}

.set-tip:hover{
    background-color: var(--Light-grayish-cyan);
}

#bill:hover,
#numOfPeople:hover,
.set-tip:hover,
#resetBtn:hover {
  cursor: pointer;
}



@media screen and (min-width: 1000px) {
    body {
      background-color: var(--Light-grayish-cyan);
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
        gap: 3em;
        background-color: var(--White);
        padding: 30px 35px;
        border-radius: 25px;
    }

    .results{
        margin-top: 0;
        border-radius: 25px;
    }

    .tip-inputs{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    }

    .inputs{
        display: grid;
        gap: 3em;
    }

    #resetBtn{
        padding: 0;
    } 
    
  }